@import './variables';
html {
  font-size: 10px;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
}

a {
  color: $color1;
  text-decoration: none;
  &:hover {
    color: darken($color1, 20%);
  }
}

:global {
  .wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }
}
