$baseFontSize: 10px;

$color1: rgba(100, 53, 201, 1);
$color2: rgba(68, 68, 68, 1);
$color3: rgba(255, 255, 130, 1);
$color4: rgba(252, 252, 252, 1);
$color5: rgba(210, 248, 152, 1);

$color6: rgba(247, 23, 53, 1);

.boxShadow {
  box-shadow: 0px 1px 5px 0 lighten($color2, 60%);
}

:global {
  .wrapper {
    max-width: 1140px;
    margin: 0 auto;
  }
}
